[loggers]
keys=root, client, server

[handlers]
keys=consoleHandler, fileHandler

[formatters]
keys=consoleFormatter, fileFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_client]
level=DEBUG
handlers=consoleHandler, fileHandler
qualname=simpleExample
propagate=0

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=clientFormatter
args=('latest.log', 'w')

[formatter_fileFormatter]
format=[%(asctime)s][%(name)s]:[%(levelname)s] %(message)s
datefmt=%Y-%m-%d %H-%M-%S

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=clientFormatter
args=(sys.stdout,)

[formatter_consoleFormatter]
format=[%(asctime)s][%(name)s]:[%(levelname)s] %(message)s
datefmt=%Y-%m-%d %H-%M-%S