<?xml version='1.0' encoding='UTF-8'?>
<!-- Created with TexturePacker http://www.codeandweb.com/texturepacker-->
<!-- $TexturePacker:SmartUpdate:16abe940d658d4eeb641856d6352513c:f50dd8f5fe87f7c9efd5f5ad1b1735c2:b4da9324b5d92c57b73a9c864dd87fbf$ -->
<!--Format:
n  => name of the sprite
x  => sprite x pos in texture
y  => sprite y pos in texture
w  => sprite width (may be trimmed)
h  => sprite height (may be trimmed)
oX => sprite's x-corner offset (only available if trimmed)
oY => sprite's y-corner offset (only available if trimmed)
oW => sprite's original width (only available if trimmed)
oH => sprite's original height (only available if trimmed)
r => 'y' only set if sprite is rotated
-->
<TextureAtlas imagePath='Menu.png' width='1024' height='1024'>
    <sprite n='BackButton.png' x='970' y='2' w='50' h='42' r='y'/>
    <sprite n='Button-Complete.png' x='994' y='489' w='20' h='19'/>
    <sprite n='ButtonBackground.png' x='2' y='228' w='143' h='143'/>
    <sprite n='ButtonFrame.png' x='662' y='81' w='145' h='145'/>
    <sprite n='EmptyButtonFrame.png' x='515' y='81' w='145' h='145'/>
    <sprite n='GameIconDummyDefense.png' x='355' y='149' w='142' h='141' r='y'/>
    <sprite n='GameIconKerbal.PNG' x='2' y='575' w='143' h='143'/>
    <sprite n='GameIconSimplePhysics.png' x='2' y='373' w='138' h='139'/>
    <sprite n='GameIconSimplePlanes.png' x='147' y='228' w='141' h='142'/>
    <sprite n='Header.PNG' x='515' y='2' w='306' h='77'/>
    <sprite n='IconAbout.png' x='212' y='515' w='56' h='56'/>
    <sprite n='IconCommunity.PNG' x='270' y='474' w='66' h='70'/>
    <sprite n='IconExit.png' x='254' y='677' w='67' h='69'/>
    <sprite n='IconLevelBlastOffPractice.png' x='174' y='149' w='92' h='76'/>
    <sprite n='IconLevelDocking.png' x='68' y='940' w='105' h='74' r='y'/>
    <sprite n='IconLevelDockingHard.png' x='2' y='833' w='74' h='105'/>
    <sprite n='IconLevelEconomyOrbit.png' x='78' y='833' w='56' h='103' r='y'/>
    <sprite n='IconLevelLandingPractice.png' x='2' y='149' w='92' h='77'/>
    <sprite n='IconLevelLowFlyer.png' x='2' y='940' w='64' h='75' r='y'/>
    <sprite n='IconLevelMaxSpeed.png' x='970' y='328' w='33' h='80'/>
    <sprite n='IconLevelOptimumTrajectory.png' x='290' y='226' w='63' h='109' r='y'/>
    <sprite n='IconLevelParachute.png' x='175' y='927' w='70' h='70'/>
    <sprite n='IconLevelSmearthOrbit.png' x='96' y='720' w='54' h='103' r='y'/>
    <sprite n='IconLevelSmoonLanding.png' x='268' y='149' w='85' h='75' r='y'/>
    <sprite n='IconLevelSmoonOrbit.PNG' x='970' y='46' w='44' h='103' r='y'/>
    <sprite n='IconLevelSmoonPunch.png' x='2' y='720' w='92' h='111' r='y'/>
    <sprite n='IconSandboxSmars.png' x='238' y='779' w='100' h='100'/>
    <sprite n='IconSandboxSmaturn.png' x='437' y='292' w='100' h='100'/>
    <sprite n='IconSandboxSmearth.png' x='338' y='439' w='100' h='100'/>
    <sprite n='IconSandboxSmenus.png' x='335' y='337' w='100' h='100'/>
    <sprite n='IconSandboxSmeptune.png' x='249' y='575' w='100' h='100'/>
    <sprite n='IconSandboxSmercury.png' x='152' y='677' w='100' h='100'/>
    <sprite n='IconSandboxSmoon.png' x='233' y='372' w='100' h='100'/>
    <sprite n='IconSandboxSmupiter.png' x='147' y='575' w='100' h='100'/>
    <sprite n='IconSandboxSmuranus.png' x='136' y='825' w='100' h='100'/>
    <sprite n='IconSettings.png' x='499' y='228' w='60' h='60'/>
    <sprite n='IconTrainingAdvOrbit.png' x='107' y='515' w='103' h='56'/>
    <sprite n='IconTrainingBuild.png' x='970' y='234' w='40' h='92'/>
    <sprite n='IconTrainingDesign.png' x='96' y='149' w='76' h='77'/>
    <sprite n='IconTrainingFlying.png' x='970' y='151' w='42' h='81'/>
    <sprite n='IconTrainingOrbit.png' x='2' y='515' w='103' h='56'/>
    <sprite n='IconTrainingSmearthOrbit.png' x='142' y='373' w='89' h='113' r='y'/>
    <sprite n='IconlevelMaxThrust.png' x='970' y='410' w='33' h='77'/>
    <sprite n='ModIcon.png' x='970' y='489' w='22' h='84' r='y'/>
    <sprite n='SkinsButton.png' x='823' y='2' w='145' h='511' r='y'/>
    <sprite n='SolarSystemButton.png' x='2' y='2' w='511' h='145'/>
</TextureAtlas>
